
@{
    ViewBag.Title = "MyPartialView";
   @* Layout = "~/Views/Shared/_MyLayoutPage.cshtml";*@
}

<div>
    <h3>Created by:Tushar prakash salunke</h3>
    <h3>Center:juhu</h3>
    <h3>
        RollNo:210940520109
    </h3>
</div>
